.Main_box_contianer {
  background: #121212;

  display: flex;
  /* border: 2px solid white; */
  /* padding: 60px; */
  padding-top: 2vw;
}
.container_cotent_box {
  text-align: center;
  display: flex;
  align-items: center;

  flex-direction: column;
  margin: auto;
  /* border: 2px solid white; */
}

.content_box_samall_title {
  color: #00ffffba;
}
.content_box_mar {
  margin: 20px;
}
.content_box_paragraph {
  color: rgba(255, 255, 255, 0.733);
}
.content_box_paragraph > p {
  font-weight: 400;
  letter-spacing: 0.6px;
  font-size: 2 rem;
}
.content_box_big_title > h1 {
  color: white;
  font-size: 4em;
}
.main_margin {
  margin: 10px;
}
.main_margin a{
text-decoration: none;
color: white;
}
.content_box_samall_title > p {
  font-weight: 700;
}
#mid_btn_space {
  
  margin: 8px;
}

@media screen and (max-width: 824px) {
  .content_box_big_title > h1 {
    font-size: xxx-large;
  }
}
@media screen and (max-width: 658px) {

 
    .content_box_paragraph > p {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 538px) {
    .content_box_big_title > h1 {
        font-size: 8vw;
    }
    .content_box_paragraph > p {
        font-size: 3vh;
    }
}
@media screen and (max-width: 425px) {
  
  .content_box_paragraph > p {
    font-size: 11px;
}
}
@media screen and (max-width: 375px) {

.content_box_paragraph > p {
    font-size: 4vw;
}
}
